@import "tailwindcss";


body, #root {
  margin: 0;
  padding: 0;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: inline-block;
  width: 200%;
  animation: marqueeScroll 20s linear infinite;
}

.stroke-text {
  -webkit-text-stroke: 1px white;
  color: transparent;
  display: inline-block;
}
